langchain==0.2.6
langchain_community==0.2.6
PyPDF2==3.0.1
chainlit==1.1.305
httpx==0.27.0 
literalai==0.0.607
pymupdf==1.25.0
streamlit==1.37.1
streamlit-arabic-support-wrapper==1.1
tiktoken==0.8.0
openapi==0.28.0